<!DOCTYPE html>
<html>
  <head>
    <title>Job Pusher | Topics</title>
    <%if (alert) {%>
      <script>
        alert(<%-JSON.stringify(alert)%>);
        history.replaceState({}, '', '/');
      </script>
    <%}%>
    <style>
      li span {
        background: #FFF;
        transition: background-color 1s ease;
      }
      li span.update {
        background: #CCC;
        transition: none;
      }
    </style>
  </head>
  <body>
    <div>
      Topics
    </div>
    <hr>
    <a href="/topic-edit">Create a topic</a>
    <ul>
      <%topics.forEach(topic => {%>
        <li>
          <b style="display: inline-block; min-width: 100px;"><%=topic._id%></b>
          - [
          <a href="/topic-edit?id=<%=encodeURIComponent(topic._id)%>">Edit</a>
          |
          <a href="/jobs?topic=<%=encodeURIComponent(topic._id)%>">Jobs</a>
          |
          <a href="/?remove=<%=encodeURIComponent(topic._id)%>">Remove</a>
          ]
          <br>
          <%for (let i = 0; i < 3; i++) {%>
            ----
            P<%=i%>:
            <span data-counter="<%=topic._id%>#<%=i%>">
              <%if (topic.counter[i]) {%>
                <%=topic.counter[i].finish || 0%>
                /
                <%=topic.counter[i].running || 0%>
                /
                <%=topic.counter[i].pending || 0%>
              <%} else {%>
                0 / 0 / 0
              <%}%>
            </span>
          <%}%>
          <br>
          <br>
        </li>
      <%})%>
    </ul>
    <%if (dangling.length > 0) {%>
      <b>Dangling:</b>
      <ul>
        <%dangling.forEach(topic => {%>
          <li>
            <b style="display: inline-block; min-width: 100px;"><%=topic._id%></b>
            - [
            <a href="/topic-edit?id=<%=encodeURIComponent(topic._id)%>">Edit</a>
            |
            <a href="/jobs?topic=<%=encodeURIComponent(topic._id)%>">Jobs</a>
            |
            <a href="/?remove=<%=encodeURIComponent(topic._id)%>">Remove</a>
            ]
            <br>
            <%for (let i = 0; i < 3; i++) {%>
              ----
              P<%=i%>:
              <span data-counter="<%=topic._id%>#<%=i%>">
                <%if (topic.counter[i]) {%>
                  <%=topic.counter[i].finish || 0%>
                  /
                  <%=topic.counter[i].running || 0%>
                  /
                  <%=topic.counter[i].pending || 0%>
                <%} else {%>
                  0 / 0 / 0
                <%}%>
              </span>
            <%}%>
            <br>
            <br>
          </li>
        <%})%>
      </ul>
    <%}%>
    <script>
      const sse = new EventSource('/topic-subscribe');
      sse.addEventListener('update', evt => {
        const update = JSON.parse(evt.data);
        const dom = document.querySelector(`span[data-counter="${update.topic}#${update.priority}"]`);
        if (dom) {
          dom.innerHTML = `${update.finish} / ${update.running} / ${update.pending}`;
          dom.className = 'update';
          setTimeout(() => {
            dom.className = '';
          }, 10);
        }
      });
    </script>
  </body>
</html>