<!DOCTYPE html>
<html>
  <head>
    <title>Job Pusher | Jobs</title>
    <style>
      .label {
        font-weight: bold;
      }
      * + .label {
        padding-left: 20px;
      }
      table {
        margin: 10px 0;
        font-family: monospace;
        font-size: 18px;
      }
      th, td {
        padding: 5px 10px;
        margin: 0;
      }
      tr td:nth-child(odd) {
        background: #FCFCFC;
      }
      thead th {
        background: #DDD;
      }
      tbody tr:hover td {
        background: #F7F7F7;
      }
      tbody tr:hover td:nth-child(odd) {
        background: #F0F0F0;
      }
      tr.disabled {
        opacity: 0.3;
      }
      tbody tr.highlight td:first-child {
        background: #333;
        color: #FFF;
      }
      tbody tr.highlight:hover td:first-child {
        background: #555;
      }
    </style>
    <script>
      let abortConfirmed = false;
      function abort (el, id) {
        if (abortConfirmed || confirm('Realy want to mark job as failure? Won\'t ask again if yes.')) {
          abortConfirmed = true;
          const row = el.parentElement.parentElement;
          row.className = 'disabled';
          row.querySelectorAll('a').forEach(a => {
            a.href = 'javascript:void(0)';
            a.onclick = '';
          });
          fetch('/job-abort?id=' + id, { credentials: 'include' }).then(r => r.json());
        }
      }
      function goTopic (topic) {
        document.querySelector('[name="topic"]').value = topic;
        document.querySelector('form').submit();
      }
      const liveIds = [];
      function live (id) {
        liveIds.push(id);
      }
      setTimeout(() => {
        const sse = new EventSource('/job-subscribe?id=' + encodeURIComponent(liveIds.join(',')));
        sse.addEventListener('nomore', () => sse.close());
        sse.addEventListener('status', event => {
          const status = JSON.parse(event.data);
          Object.keys(status).forEach(key => {
            const el = document.querySelector('#job_' + status.id + ' [data-field="' + key + '"]');
            if (el) {
              el.innerHTML = status[key];
            }
          });
        });
      }, 1000);
    </script>
  </head>
  <body>
    <div>
      <a href="/">Root</a>
      /
      Jobs
    </div>
    <hr>
    <a href="/job-create">Create Job</a>
    <br>
    <br>
    <form>
      <label class="label">
        Topic:
      </label>
      <input name="topic" value="<%=query.topic%>" style="width: 100px">

      <label class="label">
        Priority:
      </label>
      <label>
        <input type="checkbox" name="p0" value="1" <%if (query.p0) {%>checked<%}%>> 0
      </label>
      <label>
        <input type="checkbox" name="p1" value="1" <%if (query.p1) {%>checked<%}%>> 1
      </label>
      <label>
        <input type="checkbox" name="p2" value="1" <%if (query.p2) {%>checked<%}%>> 2
      </label>

      <label class="label">
        Status:
      </label>
      <label>
        <input type="checkbox" name="pending" value="1" <%if (query.pending) {%>checked<%}%>> Pending
      </label>
      <label>
        <input type="checkbox" name="running" value="1" <%if (query.running) {%>checked<%}%>> Running
      </label>
      <label>
        <input type="checkbox" name="success" value="1" <%if (query.success) {%>checked<%}%>> Success
      </label>
      <label>
        <input type="checkbox" name="failure" value="1" <%if (query.failure) {%>checked<%}%>> Failure
      </label>

      <label class="label">
        Page:
      </label>
      <label>
        <input type="number" name="page" value="<%=query.page%>" style="width: 50px">
      </label>

      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="submit" value="Filter">
    </form>
    <table cellspacing="0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Operation</th>
          <th>Create Time</th>
          <th>Topic</th>
          <th>Priority</th>
          <th>Retried</th>
          <th>Status</th>
          <th>Wait</th>
          <th>Worker</th>
        </tr>
      </thead>
      <tbody>
        <%jobs.forEach(job => {%>
          <tr id="job_<%=job._id%>" class="<%=highlight[job._id] ? 'highlight' : ''%>">
            <td><%=job._id%></td>
            <td>
              <a href="/job-payload?id=<%=job._id%>">Payload</a>
              |
              <a href="/job-output?id=<%=job._id%>">Outcome</a>
              |
              <%if (job.status === 'pending') {%>
                <a href="javascript:void(0)" onclick="abort(this, '<%=job._id%>')">Abort</a>
              <%} else {%>
                <span>Abort</span>
              <%}%>
            </td>
            <td><%=job.createtime.toLocaleString()%></td>
            <td><a href="javascript:void(0)>" onclick="goTopic('<%=job.topic%>')"><%=job.topic%></a></td>
            <td>P<%=job.priority%></td>
            <td data-field="retried"><%=job.retried%></td>
            <td data-field="status"><%=job.status%></td>
            <td data-field="wait">-</td>
            <td data-field="workerUrl"><%=job.worker && job.worker.url%></td>
          </tr>
          <%if (job.status === 'pending' || job.status === 'running') {%>
            <script>
              live('<%=job._id%>');
            </script>
          <%}%>
        <%})%>
      </tbody>
    </table>
  </body>
</html>