<!DOCTYPE html>
<html>
  <head>
    <title>Job Pusher | Jobs</title>
    <style>
      * + .label {
        padding-left: 20px;
        font-weight: bold;
      }
      table {
        margin: 10px 0;
      }
      th, td {
        padding: 5px 10px;
        margin: 0;
      }
      thead th {
        background: #DDD;
      }
      tbody tr:hover td {
        background: #F7F7F7;
      }
    </style>
  </head>
  <body>
    <div>
      <a href="/">Root</a>
      /
      Jobs
    </div>
    <hr>
    <a href="/job-create">Create Job</a>
    <br>
    <br>
    <form>
      <label class="label">
        Topic:
      </label>
      <input name="topic" value="<%=query.topic%>">

      <label class="label">
        Priority:
      </label>
      <label>
        <input type="checkbox" name="p0" value="1" <%if (query.p0) {%>checked<%}%>> 0
      </label>
      <label>
        <input type="checkbox" name="p1" value="1" <%if (query.p1) {%>checked<%}%>> 1
      </label>
      <label>
        <input type="checkbox" name="p2" value="1" <%if (query.p2) {%>checked<%}%>> 2
      </label>

      <label class="label">
        Status:
      </label>
      <label>
        <input type="checkbox" name="pending" value="1" <%if (query.pending) {%>checked<%}%>> Pending
      </label>
      <label>
        <input type="checkbox" name="running" value="1" <%if (query.running) {%>checked<%}%>> Running
      </label>
      <label>
        <input type="checkbox" name="success" value="1" <%if (query.success) {%>checked<%}%>> Success
      </label>
      <label>
        <input type="checkbox" name="failure" value="1" <%if (query.failure) {%>checked<%}%>> Failure
      </label>

      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="submit" value="Filter">
    </form>
    <table cellspacing="0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Topic</th>
          <th>Priority</th>
          <th>Status</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody>
        <%jobs.forEach(job => {%>
          <tr>
            <td><%=job._id%></td>
            <td><a href="/jobs?topic=<%=e%>"><%=job.topic%></a></td>
            <td>P<%=job.priority%></td>
            <td><%=job.status%></td>
            <td><a href="">View Payload</a> | <a href="">Abort</a></td>
          </tr>
        <%})%>
      </tbody>
    </table>
  </body>
</html>