<!DOCTYPE html>
<html>
  <head>
    <title>Job Pusher | Edit Topic</title>
    <style>
      label { display: block; padding: 5px; }
      .label { display: inline-block; width: 200px; text-align: right; padding-right: 10px; }
    </style>
    <script>
      function addWorker () {
        const child = document.createElement('div');
        child.innerHTML = `
          <label>
            <span class="label">Worker Url</span>
            <input value="" name="workerurl[]">
            <button type="button" onclick="removeWorker(this)">remove</button>
          </label>
          <label>
            <span class="label">Concurrency</span>
            <input type="number" value="1000" name="workerconcurrency[]">
          </label>
          <br>
        `;
        document.querySelector('#workers').appendChild(child);
      }
      function removeWorker (ele) {
        ele = ele.parentElement.parentElement;
        ele.parentElement.removeChild(ele);
      }
    </script>
  </head>
  <body>
    <div>
      <a href="/">Root</a>
      /
      <a href="/topics">Topics</a>
      /
      Edit Topic
    </div>
    <hr>
    <form method="POST" action="/topic-edit">
      <%if (error) {%>
        <div style="color: red; padding-left: 220px;"><%=error%></div>
      <%}%>
      <div style="float: left">
        <label>
          <span class="label">Topic Name</span>
          <input name="_id" value="<%=_id%>">
        </label>
        <label>
          <span class="label">Retries</span>
          <input name="retries" type="number" value="<%=retries%>">
        </label>
        <label>
          <span class="label">Backoff</span>
          <input name="backoff" type="number" value="<%=backoff%>">
        </label>
        <label>
          <span class="label">Timeout</span>
          <input name="timeout" type="number" value="<%=timeout%>">
        </label>
        <label>
          <span class="label"></span>
          <button>Save</button>
        </label>
      </div>
      <div style="float: left">
        <div id="workers">
          <%workers.forEach(worker => {%>
            <div>
              <label>
                <span class="label">Worker Url</span>
                <input value="<%=worker.url%>" name="workerurl[]">
                <button type="button" onclick="removeWorker(this)">remove</button>
              </label>
              <label>
                <span class="label">Concurrency</span>
                <input type="number" value="<%=worker.concurrency%>" name="workerconcurrency[]">
              </label>
              <br>
            </div>
          <%})%>
        </div>
        <label>
          <span class="label"></span>
          <button type="button" onclick="addWorker()">Add A Worker</button>
        </label>
      </div>
    </form>
  </body>
</html>